* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #14151a;
  overflow-x: hidden;
}

.mainContainer {
  width: 1000px;
  min-height: 100vh;
  display: inline-block;
  text-align: left;
  font-family: "Yantramanav", sans-serif;
}

.buttonContainer {
  width: 100%;
  height: 40px;
  border-botttom: 1px solid black;
  padding-top: 20px;
}

.navButton {
  display: inline-block;
  margin-right: 20px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  border: none;
}

.navButton p {
  font-size: 14px;
  color: #c1cddc;
}
