* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.mainContainer {
  width: 1000px;
  min-height: 100vh;
  display: inline-block;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.buttonContainer {
  width: 100%;
  height: 40px;
  border-botttom: 1px solid black;
  padding-left: 5px;
  padding-top: 10px;
}

.button {
  width: auto;
  height: 20px;
  background-color: white;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  user-select: none;
  vertical-align: top;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
  padding-left: 5px;
  padding-right: 5px;
}

.buttonIcon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 2px;
  vertical-align: middle;
}

.buttonTitleContainer {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.buttonTitle {
  display: inline-block;
  font-size: 14px;
}

.categoryContainer {
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: lightgray;
  padding: 5px;
  display: block;
}

.category {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  position: relative;
  user-select: none;
  overflow: hidden;
  margin-top: 5px;
  transition: height 0.2s;
}

.categoryHeader {
  width: 100%;
  height: 40px;
  background-color: white;
  line-height: 40px;
  padding-left: 10px;
}

.categoryPostsWrapper {
  width: 100%;
  height: auto;
}

.categoryPost {
  width: 100%;
  height: 30px;
  background-color: white;
  position: relative;
  line-height: 30px;
  padding-left: 20px;
  margin-top: 4px;
}

.categoryPostLabel {
  font-size: 14px;
}
