* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #14151a;
}

.mainContainer {
  width: 1000px;
  min-height: 100vh;
  display: inline-block;
  text-align: left;
  font-family: "Yantramanav", sans-serif;
}

.buttonContainer {
  width: 100%;
  height: 40px;
  border-botttom: 1px solid black;
  padding-left: 5px;
  padding-top: 10px;
}

.button {
  width: auto;
  height: 20px;
  background-color: #1e2129;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  user-select: none;
  vertical-align: top;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
  padding-left: 5px;
  padding-right: 5px;
  color: #898c91;
}

.button:hover {
  color: #6644aa;
}

.buttonIcon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 2px;
  vertical-align: middle;
}

.buttonTitleContainer {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.buttonTitle {
  display: inline-block;
  font-size: 14px;
}

.categoryContainer {
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: #;
  padding: 5px;
  display: block;
}

.category {
  width: 100%;
  height: 40px;
  position: relative;
  user-select: none;
  overflow: hidden;
  margin-top: 5px;
  transition: height 0.2s;
}

.categoryHeader {
  width: 100%;
  height: 40px;
  background-color: #1e2129;
  line-height: 40px;
  padding-left: 10px;
  color: #898c91;
  cursor: pointer;
}

.categoryPostsWrapper {
  width: 100%;
  height: auto;
}

.categoryPost {
  width: 100%;
  height: 30px;
  background-color: #393f4f;
  position: relative;
  line-height: 30px;
  padding-left: 20px;
  margin-top: 4px;
  color: #c1cddc;
}

.categoryPostLabel {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}

.categoryHeader:hover {
  color: #6644aa;
}

.categoryPostButtons {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.categoryPostPreviewButton,
.categoryPostEditButton,
.categoryPostRemoveButton {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #c1cddc;
  vertical-align: middle;
  margin-left: 8px;
}
